serverHostName={{ host_name }}
sys.languageId=en
disableEULA=true

platformAdmin.port=9191
platformAdmin.databasePort=3377
platformAdmin.dataDir={{ data_dir }}
platformAdmin.databasePassword={{ database_password }}
platformAdmin.databaseRootPassword={{ database_root_password }}
platformAdmin.adminPassword={{ admin_password }}
platformAdmin.useHttps$Boolean=false
sys.installationDir={{ installation_dir }}
